{% load static %}
<section class="features section">
    <div class="container">
        <div class="features-inner section-inner has-bottom-divider">
            <div class="features-wrap">
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="{% static 'wanjohi/dist/images/feature-icon-01.svg' %}"
                                alt="Feature 01">
                        </div>
                        <h4 class="feature-title mt-24">Be Productive</h4>
                        <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat
                            nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis.
                            Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="{% static 'wanjohi/dist/images/feature-icon-02.svg' %}"
                                alt="Feature 02">
                        </div>
                        <h4 class="feature-title mt-24">Be Productive</h4>
                        <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat
                            nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis.
                            Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="{% static 'wanjohi/dist/images/feature-icon-03.svg' %}"
                                alt="Feature 03">
                        </div>
                        <h4 class="feature-title mt-24">Be Productive</h4>
                        <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat
                            nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis.
                            Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="{% static 'wanjohi/dist/images/feature-icon-04.svg' %}"
                                alt="Feature 04">
                        </div>
                        <h4 class="feature-title mt-24">Be Productive</h4>
                        <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat
                            nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis.
                            Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="{% static 'wanjohi/dist/images/feature-icon-05.svg' %}"
                                alt="Feature 05">
                        </div>
                        <h4 class="feature-title mt-24">Be Productive</h4>
                        <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat
                            nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis.
                            Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="{% static 'wanjohi/dist/images/feature-icon-06.svg' %}"
                                alt="Feature 06">
                        </div>
                        <h4 class="feature-title mt-24">Be Productive</h4>
                        <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat
                            nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis.
                            Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>